html {
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

img{
	width:100%;
	display: block;
}

body{
	margin:0em;
}

.masthead{
	background-image: url("../images/logo.svg");
	background-size: 75px auto;
	padding: 6em;
	background-repeat: no-repeat;
	background-position: center 10px;
	text-align: center;
}

.box{
	background-color: #3b3a33;
	padding: 1em;
	margin: 0em;
	text-align: center;
}
